#pragma once

#include <optional>
#include <string>
#include <vector>
#include <boost/uuids/uuid.hpp>

{% for enumName, enumItems in enums %}
enum {{ enumName }}
{
  {% for item in enumItems %}
  {{ item }},
  {% endfor %}
};

{% endfor %}

{% for object in objects %}
struct {{ object.className }}
{
{% for vName, props in object.variables %}
  {% include "class.member.jinja2" %}
{% endfor %}
};

{% endfor %}