#pragma once

#include <optional>
#include <string>
{% if hasUuids %}
#include <boost/uuids/uuid.hpp>
{% endif %}

{% for enumName, enumItems in enums %}
enum {{ enumName }}
{
  {% for item in enumItems %}
  {{ item }},
  {% endfor %}
};
{% endfor %}

{% for object in objects %}
struct {{ object.className }}
{
{% for vName, props in object.variables %}
  {% include "type.dispatch.jinja2" %}
{% endfor %}
};

{% endfor %}