{% if props.type ==  "integer" %}
    {% include "integer.jinja2" %}
{% else if props.type == "string" %}
    {% include "string.jinja2" %}
{% else if props.type == "number" %}
    {% include "number.jinja2" %}
{% else if props.type == "boolean" %}
    {% include "boolean.jinja2" %}
{% else if props.type == "reference" %}
    {% include "reference.jinja2" %}
{% endif %}
